@tailwind base;
@tailwind components;
@tailwind utilities;

*{ font-family: "Poppins", sans-serif; }


.background {
  background: linear-gradient(135deg, #1da1f2, #a8b1ff);
}

/* Custom style for customized scroll bar */
.special::-webkit-scrollbar {
  height: 5px;
}

.special::-webkit-scrollbar-thumb {
  background-color: #e0ab99;
  border-radius: 2px;
}
.special::-webkit-scrollbar-thumb:hover {
  background-color: #f7baa8;
}

.special::-webkit-scrollbar-track {
  background: #dff1ea;
}

/* Custom style for customized scroll bar */
.special1::-webkit-scrollbar {
  width: 5px;
}
